<div class="sidebar text-white p-3">

    <h5 class="text-center mb-4">
        MENU
    </h5>

    <ul class="nav flex-column">

        <!-- Dashboard -->

        <li class="nav-item mb-2">
            <a href="/dashboard" class="nav-link text-white">
                <i class="bi bi-speedometer2"></i>
                Dashboard
            </a>
        </li>

        <hr>

        <!-- Students -->

        <h6 class="text-uppercase text-secondary">
            Students
        </h6>

        <li class="nav-item">
            <a href="/add_student" class="nav-link text-white">
                <i class="bi bi-person-plus-fill"></i>
                Add Student
            </a>
        </li>

        <li class="nav-item">
            <a href="/view_students" class="nav-link text-white">
                <i class="bi bi-people-fill"></i>
                View Students
            </a>
        </li>

        <li class="nav-item mb-3">
            <a href="/search_students" class="nav-link text-white">
                <i class="bi bi-search"></i>
                Search Students
            </a>
        </li>

        <hr>

        <!-- Subjects -->

        <h6 class="text-uppercase text-secondary">
            Subjects
        </h6>

        <li class="nav-item">
            <a href="/add_subject" class="nav-link text-white">
                <i class="bi bi-book-fill"></i>
                Add Subject
            </a>
        </li>

        <li class="nav-item mb-3">
            <a href="/view_subjects" class="nav-link text-white">
                <i class="bi bi-journal-bookmark-fill"></i>
                View Subjects
            </a>
        </li>

        <hr>

        <!-- Enrollment -->

        <li class="nav-item mb-2">
            <a href="/view_enrollments" class="nav-link text-white">
                <i class="bi bi-journal-check"></i>
                Enrollment
            </a>
        </li>

        <!-- Attendance -->

        <li class="nav-item mb-2">
            <a href="/view_attendance" class="nav-link text-white">
                <i class="bi bi-calendar-check"></i>
                Attendance
            </a>
        </li>

        <!-- Marks -->

        <li class="nav-item mb-2">
            <a href="/view_marks" class="nav-link text-white">
                <i class="bi bi-award-fill"></i>
                Marks
            </a>
        </li>

        <!-- Fees -->

        <li class="nav-item mb-2">
            <a href="/fee_history" class="nav-link text-white">
                <i class="bi bi-cash-stack"></i>
                Fees
            </a>
        </li>

        <li class="nav-item">

        <a href="/fee_defaulters"
        class="nav-link text-white">

        <i class="bi bi-exclamation-triangle-fill"></i>

        Fee Defaulters

        </a>

        </li>


        <!-- Assignments -->

        <li class="nav-item mb-2">
            <a href="/view_assignment" class="nav-link text-white">
                <i class="bi bi-file-earmark-text"></i>
                Assignments
            </a>
        </li>

        <!-- Leave -->

        <li class="nav-item mb-2">
            <a href="/view_leave" class="nav-link text-white">
                <i class="bi bi-envelope-paper-fill"></i>
                Leave
            </a>
        </li>

        <hr>

        <!-- Logout -->

        <li class="nav-item">
            <a href="/logout" class="nav-link text-danger">
                <i class="bi bi-box-arrow-right"></i>
                Logout
            </a>
        </li>

    </ul>

</div>